/*-----------------------------------------
Project: LayoutResponsive
Version: 1.0
Last Change: 17/11/2022
Autor: Mario Cantero Shimizu

Tabla de contenidos

1. Fila 1: Header
2. Fila 2: Nav
3. Fila 3: Article  Div / Aside 
4. Fila 4: Footer

Códigos de color

   #61764B
   #9BA17B
   #CFB997
   #FAD6A5

Fuentes y tipografías

font-family: 'Noto Sans', sans-serif;

 ------------------------------------------*/

 /*Estilos generales*/

html{

  font-size: 100%;

}


/* 1.Header */


/* 2.Contenido: Section y Contenedor de Aside*/

.carousel-control-next{
    color: black;
    background-color: black;
}
.carousel-control-prev-icon{
    color: black;
    background-color: black;
}
.carousel-control-next-icon{
    color: black;
    background-color: black;
}
.sr-only{
    color: black;
    background-color: black;
}

  /* 3. Ventana modal de login */
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .modal-content {
    width: 80%;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 1em;
    padding: 1em;
  }
  h1 {
    font-size: 2.3em;
    font-weight: bold;
  }
  .myform {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  }
  @media (max-width: 576px) {
    .myform {
      max-width: 90%;
      margin: 0 auto;
    }
    .btn-close {
      position: absolute;
      right: 2.5em;
      padding: 1em;
    }
  
  }
  .form-control:focus {
    box-shadow: inset 0 -1px 0 #7e7e7e;
  }
  .form-control {
    background-color: inherit;
    color: #fff;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #fff;
  }
  .myform .btn {
    width: 100%;
    font-weight: 800;
    background-color: #fff;
    border-radius: 0;
    padding: 0.5em 0;
  }
  .myform .btn:hover {
    background-color: inherit;
    color: #fff;
    border-color: #fff;
  }
  p {
    text-align: center;
    padding-top: 2em;
    color: grey;
  }
  p a {
    color: #e1e1e1;
    text-decoration: none;
  }
  p a:hover {
    color: #fff;
  }
  